body,
html {
  width: 100%;
  height: 100%; 
}

body {
  font-family: 'Montserrat', sans-serif;
 
  }

hr {
  max-width: 100px;
  border-width: 3px;
  border-color: rgb(255, 169, 0); 
}

.faded {
  color: rgba(255, 169, 0,); 
}

header.startup {
  background-position: center;
  background-image: url("Employeze BG.jpg");
  background-size: cover;
  height: 100%;
}

header.startup hr {
  margin-top: 50px;
  margin-bottom: 30px; 
}

header.startup h1 {
  font-size: 3rem;  

}

header.startup h3 {
  font-size: 2rem; 


}

.btn {
  font-weight: 800;
  text-transform: uppercase;
  border-radius: 500px;
  font-family: 'Montserrat', sans-serif;
}

.btn-xl {
  padding: 1rem 2rem; 
}

.btn-primary {
  background-color: rgb(255, 169, 0);
  border-color: white;
  border-width: 2px; }

.btn-primary:hover {
  background-color: rgb(255, 169, 0);
  border-color: white;
  border-width: 4px;
  cursor: auto;
}
  